* {
    box-sizing: border-box;
}

/* assign 01*/
.ass-1,
.ass-2 {
    margin: 80px auto;
    width: 600px;
}

.ass-1 div {
    font-family: serif;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 10px;
    background-color: #EEEEEE;
    text-align: center;
    padding: 30px;
    position: relative;
}

.ass-1 div::first-letter {
    color: #F44336;
}

.ass-1 div::before {
    content: "";
    position: absolute;
    width: 620px;
    height: 140px;
    left: -10px;
    top: -10px;
    z-index: -1;
    background-image: linear-gradient(to right, #F44336 20%, #2196F3 20%,
            #2196F3 40%, #4CAF50 40%,
            #4CAF50 60%, #E91E63 60%,
            #E91E63 80%, #673AB7 80%);
}

/* assign 02*/
.ass-2 {
    position: relative;
}

.ass-2 input {
    border: none;
    padding: 25px;
    margin-bottom: 20px;
    width: 600px;
    font-size: 25px;
    background-color: #EEEEEE;
    caret-color: red;
}

.ass-2 div::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    margin-top: 75px;
    background-image: linear-gradient(to right, #F44336 50%, #009688 50%);
}

.ass-2 input:focus {
    outline: none;
}